.about-us-container {
  flex: 0 0 70%;
  width: auto;
  height: auto;
  margin: 50px 20px;
  padding:10px 50px 10px 120px;   
  text-align: justify;
  }
  
  .about-us-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 20px !important;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-us-content {
    font-size: 20px !important;
    margin-bottom: 20px;
  }
  
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }